.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-bottom: 10px;
}

.App-header {
  background-color: #e8e9ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-div {
  background-color: #fff;
  width: 50vw;
  height: 50vh;
  min-width: 300px;
  min-height: 300px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 5px 8px 5px #d8d8d8;
}

.form-pre-challenge-greeting {
  color: #1a1919;
  text-align: left;
  font-size: 2rem;
}
